.App-main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .title {
    display: flex;
    padding-top: 3px;
    margin-bottom: 1rem;
  }
  
  .title-text {
    line-height: 0.5;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .bottom-bar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .bottom-bar-text {
    margin: 5px;
  }
  
  .bottom-bar-link {
    color:bisque
  }

.question {
    margin-bottom: 4rem;
}
  
.question-text {
    font-size: x-large;
    font-weight: 500;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.answer {
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    border-color: white;
    background-color: #282c34;
}

.answer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #282c34;
  position:fixed;
  background: white;
  border-radius: 3px;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-img {
  display: block;
  height: 35%;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.modal-correct {
  font-size: xx-large;
  font-weight: bold;
  color: seagreen;
  display: flex;
  justify-content: center;
}

.modal-false {
  font-size: xx-large;
  font-weight: bold;
  color: red;
  display: flex;
  justify-content: center;
}

.modal-text {
  padding: 5px;
}

.modal-button {
  position: fixed;
  top: 100%;
  margin-top: 5px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
