.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  display: flex;
  padding-top: 10%;
  margin-bottom: 1rem;
}

.title-text {
  line-height: 0.5;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: white;
  display: flex;
  flex-direction: column;
}

.bottom-bar-text {
  margin: 5px;
}

.bottom-bar-link {
  color:bisque
}