.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  display: flex;
  padding-top: 5%;
  margin-bottom: 1rem;
}

.title-text {
  line-height: 0.5;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.question {
  margin-bottom: 4rem;
}

.question-text {
  font-size: x-large;
  font-weight: 500;
}

.options {
 display: flex;
 flex-direction: row;
 justify-content: start;
}

.button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  border-color: white;
  background-color: #282c34;
}
.button-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.bottom-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: white;
  display: flex;
  flex-direction: column;
}

.bottom-bar-text {
  margin: 5px;
}

.bottom-bar-link {
  color:bisque
}